langchain>=0.2
langchain-core>=0.2
langchain-openai>=0.2
langgraph>=0.2
faiss-cpu
pydantic>=2
python-dotenv
fastapi
uvicorn
tiktoken
rapidfuzz
pypinyin
pytest
pypdf
python-docx
pillow>=10.0
pytest-dotenv
requests 
beautifulsoup4 
tqdm 
tenacity 
python-slugify
faiss-cpu 
sentence-transformers 
elasticsearch>=8,<9
cohere
pytesseract
opencv-python
ultralytics 
torch 
torchvision
numpy